body{
    background-color: #1F1E1E;
}

.no-off{
    margin: 0%;
    padding: 0%;
}

.errorX{
    color: #751012;
}

.containerHosts{
    border: 2px solid;
    border-color: black;
    background-color: #161F38;

    min-height: 170px;
    max-height: 170px;
    max-width: 650px;
    
    /*CENTER*/
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 35px;
}

.containerInput{
    border: 2px solid;
    border-color: black;
    border-top: none;
    background-color: #191919;
    color: whitesmoke;
    min-height: 50px;
    max-height: 50px;
    min-width: 700px;
	max-width: 800px;
    align-items: center;

    /*CENTER*/
    margin: auto;
    width: 50%;
    padding: 10px;

    border-top: 1px solid black;
}

.containerTerminal{
    border: 2px solid;
    border-color: black;
    border-bottom: none;
    background-color: #191919;
    color: whitesmoke;
    
    overflow-y: scroll;
	min-width: 700px;
	max-width: 800px;
	min-height: 400px;
	max-height: 400px;
    
    /*CENTER*/
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 25px;
}

#in{
    border: none;
    color: whitesmoke;
    background-color: #191919;
}

#in:focus{
    outline: none;
}

#inPre{
    border-color: black;
    border-style: groove;
    border-width: 2px;
    border: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}